<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>[HELP 3cIT][{{ ordem_servico.assunto|upper }}] {{ ordem_servico.resumo }}</title>
</head>
<body>
  <h2 class="title is-2">Protocolo #{{ ordem_servico.protocolo }}</h2>
  <p>
    Registrada a abertura de nova solicitação do tipo
    <span style="{% if ordem_servico.assunto == 'bug' %}color:red;font-weight:bold;{% elif ordem_servico.assunto == 'reclamação' or ordem_servico.assunto == 'dúvida' %}color:goldenrod;font-weight:bold;{% else %}color:green;{% endif %}text-transform:uppercase;">
      {{ ordem_servico.assunto }}
    </span>
    relacionado a(o)
    {{ ordem_servico.produto_servico }}
  </p>
  <br>
  -----
  <br>
  <h4>Detalhes do problema</h4>
  <p>
    {{ ordem_servico.detalhe_problema }}
  </p>
  <p>
    Enviado {{ ordem_servico.datahora_abertura|time:"DATETIME_FORMAT" }} por {{ user }}.
  </p>
</body>
</html>