@charset "utf-8";
/**
  Fonte padrão utilizada pelos projetos 3cIT, Lato
  https://fonts.google.com/specimen/Lato
 */
@import url("https://fonts.googleapis.com/css?family=Lato");

$white: ghostwhite;
$limegreen: #61c43b;
$yellow: #f3f31a;
$red: #cc0000;
$family-sans-serif: "Lato", sans-serif;
$primary: $limegreen;

@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/base/_all.sass";
@import "../../../node_modules/bulma/sass/components/level.sass";
@import "../../../node_modules/bulma/sass/components/list.sass";
@import "../../../node_modules/bulma/sass/components/navbar.sass";
@import "../../../node_modules/bulma/sass/elements/_all.sass";
@import "../../../node_modules/bulma/sass/grid/_all.sass";
@import "../../../node_modules/bulma/sass/layout/section.sass";

/**
  Estilos da tabela de listagem.
    - Adaptado do original do SiGe (Lucas Andrade);
  */
.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table {
  width: 100%;
  min-height: 25vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.wrap-table {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .table {
    display: block;
  }
}

.row {
  display: table-row;
  background: rgb(255, 255, 255);
}

.row.header {
  color: $white;
  background: $primary;
}

.row.selectable:hover {
  cursor: pointer;
  background-color: $primary;
}
.row.selectable:hover > td {
  color: $white;
}

@media screen and (max-width: 768px) {
  .row {
    display: block;
  }

  .row.header {
    padding: 0;
    height: 0px;
  }

  .row.header .cell {
    display: none;
  }

  .row .cell:before {
    font-size: 12px;
    color: $primary;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: unset !important;

    margin-bottom: 13px;
    content: attr(data-title);
    min-width: 98px;
    display: block;
  }
}

.cell {
  display: table-cell;
}

@media screen and (max-width: 768px) {
  .cell {
    display: block;
  }
}

.row .cell {
  font-size: 15px;
  color: $light-invert;
  line-height: 1.2;
  font-weight: unset !important;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $white;
}

.row.header .cell {
  font-size: 18px;
  color: $white;
  line-height: 0.6;
  font-weight: unset !important;
  padding-top: 19px;
  padding-bottom: 19px;
}

.row .cell:nth-child {
  width: 100%;
  padding-left: 10%;
}

.table,
.row {
  width: 100% !important;
}

@media (max-width: 768px) {
  .row {
    border-bottom: 1px solid $white;
    padding-bottom: 18px;
    padding-top: 30px;
    padding-right: 15px;
    margin: 0;
  }

  .row .cell {
    border: none;
    padding-left: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .row .cell:nth-child(1) {
    padding-left: 30px;
  }

  .row .cell {
    font-size: 18px;
    color: $light-invert;
    line-height: 1.2;
    font-weight: unset !important;
  }

  .table,
  .row,
  .cell {
    width: 100% !important;
  }
}
