<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>[HELP! 3cIT] Confirmação do cadastro</title>
  </head>
  <body>
    <h1>Olá, {{ first_name }}!</h1>
    <p>
      Agradecemos seu cadastro em nosso app.
    </p>
    <p>
      Saiba que sua colaboração é de suma importância para a melhoria
      contínua de nossos serviços. Portanto, ao se deparar com um problema,
      comunique-nos para que possamos estar corrigindo um problema ou aprimorando
      uma solução, visando assim o bem estar de todos os usuários.
    </p>
    <p>Aqui estão suas credenciais de acesso:</p>
    <ul>
      <li>Usuário: {{ username }}</li>
      <li>Senha: {{ plain_password }}</li>
    </ul>
    <br>
    <p>
      Cordialmente,<br>
      suporte 3cIT
    </p>
  </body>
</html>