<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>[HELP! 3cIT] Recuperação de acesso</title>
  </head>
  <body>
    <h1>Olá, {{ first_name }}!</h1>
    <p>
      Você deve ter solicitado uma recuperação de acesso para continuar usando
      o app de suporte da 3cIT.
    </p>
    <p>
      Se tiver sido pedido realizado por você, clique no link abaixo ou copie
      e cole o texto destacado na barra de endereços de seu navegador.
    </p>
    <p>Copiar:</p>
    <pre style="display:block; padding:.8em 1.6em; font-family: 'Lucida Console', 'Ubuntu Mono', 'Courier New', Courier, monospace;">
        {{ protocol }}://{{ domain }}{% url 'autenticacao:confirmacao_recuperacao_acesso' uidb64=uid token=token %}
    </pre>
    <p>... na sua sua barra de endereços, ou <a href="{{ protocol }}://{{ domain }}{% url 'autenticacao:confirmacao_recuperacao_acesso' uidb64=uid token=token %}">clique neste link</a>.</p>
    <br>
    <p>
      Caso não tenha sido você o autor deste pedido, pedimos que apenas ignore
      este e-mail.
    </p>
    <p>Cordialmente, equipe {{ site_name }}</p>
  </body>
</html>