{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HELP! 3cIT</title>
    <link rel="icon" href="{% static 'frontend/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'frontend/main.css' %}" />
  </head>
  <body class="has-navbar-fixed-top">
    <div id="root-app"></div>
    <script type="application/javascript">
      // TODO: Evoluir a inclusão de imagens ao site...
      const THRCIT_BRAND = "{% static 'frontend/3cit-logo.png' %}";
    </script>
    <script src="{% static 'frontend/main.js' %}"></script>
  </body>
</html>
